@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,800&display=swap');

html, body {
    height: 100%;
}

p {
    font-family: "Times New Roman", serif;
}

.title-text {
    font-family: "Noto Sans", "sans-serif";
    text-align: center;
}

p.subtitle-text {
    text-align: center;
    font-size: 16px;
}

.main-container {
    background: lightblue;
    border-radius: 25px;
    height: 735px;
    width: 400px;
    margin: 0 auto;
    position: relative;
    padding: 10px 10px 10px 10px;
}

.plane-background {
    background-image: url("https://images.unsplash.com/photo-1575380591643-b2c92368dc6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2t5bGluZXxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
}

button {
    background-color: white;
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    border-radius: 12px;
    text-decoration: none;
}

button:hover {
    background-color: royalblue;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

p.admin-panel-label {
    color: red;
    text-align: center;
}

.operation-div {
    height: 20%;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    border-color: red;
    border-radius: 12px;
    border-width: 5px;
    border-style: solid;
    margin-top: 4%;
}

.first-form-label {
    white-space: pre;
    margin-left:25%;

}

.form-label {
    white-space: pre;
    margin-left: 25%;
    display: inline-block;
    margin-top: 5%;
}

.table-title {
    font-size: 20px !important;

}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.second-operation {
    height: 40% !important;
}

a:visited {
    text-decoration: none;
    color: black;
}