@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,800&display=swap');

html, body {
    height: 100%;
}

p, strong {
    font-family: "Times New Roman", serif;
}

.title-text {
    font-family: "Noto Sans", "sans-serif";
    text-align: center;
}

p.subtitle-text {
    text-align: center;
    font-size: 16px;
}

.main-container {
    background: lightblue;
    border-radius: 25px;
    height: 445px;
    width: 400px;
    margin: 0 auto;
    position: relative;
    padding: 10px 10px 10px 10px;
}

.plane-background {
    background-image: url("https://images.unsplash.com/photo-1575380591643-b2c92368dc6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c2t5bGluZXxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
}

input {
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    margin-left: 20%;
    display: inline-block;
    border-radius: 12px;
    text-decoration: none;
    font-family: "Times New Roman", sans-serif;
    vertical-align: top;
    flex-grow: 0;
}

input.submit {
    font-size: 15px;
    padding: 1px;
    margin-top: 2.25%;
    margin-left: 10px;
    flex-grow: 0;
    width: 60px;
    height: 30px;
}

.first-label {
    white-space: pre;
    margin-left:25%;
}

.regular-label {
    white-space: pre;
    margin-left: 25%;
    display: inline-block;
    margin-top: 5%;
}

button:hover {
    background-color: royalblue;
    color: white;
    text-decoration: none;
}

input.submit:hover {
    background-color: royalblue;
    color: white;
    text-decoration: none;
}

a {
    text-decoration: none;
}

p.error {
    color: red;
    margin-top: 0;
    margin-left: 20%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

a:visited {
    text-decoration: none;
    color: black;
}