<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LastMinuteTicket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='admin_select.css') }}">
</head>
<body class="plane-background">

<div class="main-container">
    <h1 class="title-text"><a href="/">LastMinuteTicket Airlines</a></h1>
    <p class="subtitle-text">Your one-stop shop to book tickets a maximum of 6 days out!</p>
    <p style="color: red; text-align: center">Admin Selector</p>
    <br>
    <br>
    <a href="/super_admin"><button>Super Admin</button></a>
    <br>
    <br>
    <a href="/admin"><button>Admin</button></a>
</div>



</body>
</html>