<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LastMinuteTicket</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body class="plane-background">

<div class="main-container">
    <h1 class="title-text"><a href="/">LastMinuteTicket Airlines</a></h1>
    <p class="subtitle-text">Your one-stop shop to book tickets a maximum of 6 days out!</p>
    <br>
    <br>
    <a href="/manage_reservation"><button>View Reservation</button></a>
    <br>
    <br>
    <a href="/book"><button>Book New Flight</button></a>
    <a href="/admin_selector">
        <img src="https://cdn-icons-png.flaticon.com/512/1224/1224138.png?w=1380" alt="Image of lock" class="lock-image">
    </a>
</div>



</body>
</html>